* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  margin-top: 10px;
  max-width: 100%;
  width: 400px;
}
#todo-input {
  width: 100%;
  background-color: lightyellow;
  display: block;
  font-size: 2rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}
#todo-list {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#todo-list li {
  border-top: 1px solid rgb(242, 242, 242);
  font-size: 1.5rem;
  user-select: none;
  padding-left: 10px;
}
.complete {
  color: rgb(155, 155, 155);
  text-decoration: line-through;
}
li button {
  background-color: mintcream;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 1.5rem;
  cursor: pointer;
}

li button:active {
  border: 2px solid gray;
}
.deleteBtn {
  background-color: aquamarine;
  margin-top: 10px;
  padding: 0.5rem 2rem;
  font-weight: bolder;
  cursor: pointer;
}
